<div class="container">
    <%= form_for(:session,  url: login_path, :html => { :class => 'form-signin'}) do |f|%>
      <h2 class="form-signin-heading">Sign In </h2>

        <%= f.label :username, class:'sr-only' %>
        <%= f.text_field :username, id:'username', class: 'form-control', placeholder: 'Username', :required => true, :autofocus => true %>

        <%= f.label :password, class:'sr-only' %>
        <%= f.password_field :password, id:'password', class: 'form-control',placeholder: 'Password' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me%>
            <span>Remember me on this computer</span>
        <% end %>

      <script type="text/javascript">
        $(function() {

          if (localStorage.chkbx && localStorage.chkbx != '') {
            $('#remember_me').attr('checked', 'checked');
            $('#username').val(localStorage.usrname);
            $('#password').val(localStorage.pass);
          } else {
            $('#remember_me').removeAttr('checked');
            $('#username').val('');
            $('#password').val('');
          }

          $('#remember_me').click(function() {

            if ($('#remember_me').is(':checked')) {
              // save username and password
              localStorage.usrname = $('#username').val();
              localStorage.pass = $('#password').val();
              localStorage.chkbx = $('#remember_me').val();
            } else {
              localStorage.usrname = '';
              localStorage.pass = '';
              localStorage.chkbx = '';
            }
          });
        });

      </script>

        <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
      <div class="center-block">New user? <%= link_to "Sign up now!", signup_path, class:'signuplink' %>
        <a href='/help' title="Help"><span class='glyphicon glyphicon-question-sign'></span></a></div>
    <% end %>
</div>
