<div class="container">
  <%= form_for(@allocation, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Tickets Purchase</h2>

        <%= f.text_field :assigned, class: 'form-control', placeholder:'Tickets owner', :required => true %>

        <%= f.number_field :user_id, :value => current_user.id, title:'User id',class: 'hidden form-control', placeholder:'User id' %>


        <%= f.number_field :row_id, class: 'form-control', placeholder:'Row id' %>

        <%= f.number_field :quantity, class: 'form-control', placeholder:'Quantity' %>

        <%= f.number_field :start_seat, class: 'form-control', placeholder:'Start seat' %>

        <%= f.number_field :end_seat, class: 'form-control', placeholder:'End seat' %>

        <%= f.label :show_id %>
        <%= f.select :show_id, options_for_select(@shows.collect { |show|
          [show.event.name.titleize, show.id] }, params[:show_id]),{title:'Show', class:'form-control'}, {id: 'shows_select'} %>

        <%= f.label :price %>
        <%= f.select :price_category_id, options_for_select(@price_categories.collect { |price_category|
          [price_category.price.titleize, price_category.id] }, 0), {title:'Price', class:'form-control'}, {id: 'price_categories_select'} %>


      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>

      <%= link_to "Back", allocations_path %>

    <% end %>
  </div>
</div>