<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@allocation) do |f| %>
        <% if @allocation.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@allocation.errors.count, "error") %> prohibited this allocation from being saved:</h2>

              <ul>
                <% @allocation.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :assigned %>
        <%= f.text_field :assigned, class: 'form-control' %>

        <%= f.label :user_id %><br>
        <%= f.number_field :user_id, :value => current_user.id, class: 'form-control' %>

        <%= f.label :row_id %><br>
        <%= f.number_field :row_id, class: 'form-control' %>

        <%= f.label :quantity %><br>
        <%= f.number_field :quantity, class: 'form-control' %>

        <%= f.label :start_seat %><br>
        <%= f.number_field :start_seat, class: 'form-control' %>

        <%= f.label :end_seat %><br>
        <%= f.number_field :end_seat, class: 'form-control' %>

        <%= f.label :show %><br>
        <%= f.select :show_id, options_for_select(@shows.collect { |show|
          [show.event.name.titleize, show.id] }, 1), {}, {id: 'shows_select'} %>

        <%= f.label :price %><br>
        <%= f.select :price_category_id, options_for_select(@price_categories.collect { |price_category|
          [price_category.price.titleize, price_category.id] }, 0), {}, {id: 'price_categories_select'} %>


        <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>