<h3 class="center">Listing Allocations</h3>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="bg-info">
    <tr>
      <th class="col-sm-3">Assigned</th>
      <th class="col-sm-3">User</th>
      <th class="col-sm-3">Show</th>
      <th class="col-sm-3">Row</th>
      <th class="col-sm-3">Quantity</th>
      <th class="col-sm-3">Start seat</th>
      <th class="col-sm-3">End seat</th>
      <% if administrator? %>
          <th class="col-sm-3" colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td class="col-sm-3"><%= allocation.assigned %></td>
        <td class="col-sm-3"><%= allocation.user.name %></td>
        <td class="col-sm-3"><%= Event.find_by(id:Show.find_by(id: allocation.show_id).event_id).name %></td>
        <td class="col-sm-3"><%= allocation.row_id %></td>
        <td class="col-sm-3"><%= allocation.quantity %></td>
        <td class="col-sm-3"><%= allocation.start_seat %></td>
        <td class="col-sm-3"><%= allocation.end_seat %></td>
        <% if administrator? %>
            <td class="col-sm-1"><%= link_to 'Show', allocation, class:'btn btn-primary' %></td>
            <td class="col-sm-1"><%= link_to 'Edit', edit_allocation_path(allocation), class:'btn btn-primary' %></td>
            <td class="col-sm-1"><%= link_to 'Delete', allocation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>