<div class="list-group">
  <a href="#" class="list-group-item active">Assigned to: <%= @allocation.assigned %></a>
  <a href="#" class="list-group-item list-group-item-info">User: <%= get_user.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Show: <%= get_show_name %> @ <%= get_show_venue %> at <%= get_show_time %></a>
  <a href="#" class="list-group-item list-group-item-info">Row:  <%= @allocation.row_id %></a>
  <a href="#" class="list-group-item list-group-item-info">Quantity: <%= @allocation.quantity %></a>
  <a href="#" class="list-group-item list-group-item-info">Seats: <%= @allocation.start_seat %> - <%= @allocation.end_seat %></a>
  <a href="#" class="list-group-item list-group-item-info">Price: <%= get_price %></a>
</div>


<%= link_to 'Edit', edit_allocation_path(@allocation),class:'btn btn-primary' %>
<%= link_to 'Back', allocations_path,class:'btn btn-primary' %>
