<div class="container">
  <%= form_for(@venue_layout, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Venue Layout</h2>

      <%= f.select :venue_id, options_from_collection_for_select(@venues, 'id', 'name', :selected => f.object.venue_id), placeholder: 'Venue', class: 'form-control' %>


      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', :required => true, :autofocus => true %>

      <%= f.number_field :capacity, class: 'form-control', placeholder: 'Capacity', :required => true %>

      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>

      <%= link_to "Back", venue_layouts_path %>
  <% end %>

</div>