<h3 class="center">Listing Venue Layouts</h3>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="bg-info">
    <tr>
      <th class="col-sm-3">Venue</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Capacity</th>
      <% if administrator? %>
          <th class="col-sm-3" colspan="3"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @venue_layouts.each do |venue_layout| %>
        <tr>
          <td class="col-sm-3"><%= venue_layout.venue.name %></td>
          <td class="col-sm-3"><%= venue_layout.name %></td>
          <td class="col-sm-3"><%= venue_layout.capacity %></td>
          <% if administrator? %>
              <td class="col-sm-1"><%= link_to 'Show', venue_layout, class:'btn btn-primary' %></td>
              <td class="col-sm-1"><%= link_to 'Edit', edit_venue_layout_path(venue_layout), class:'btn btn-primary' %></td>
              <td class="col-sm-1"><%= link_to 'Delete', venue_layout, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-primary' %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
