<p id="notice"><%= notice %></p>

<h1>Listing Venue Layouts</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-sm-3">Venue</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Capacity</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @venue_layouts.each do |venue_layout| %>
        <tr>
          <td class="col-sm-3"><%= venue_layout.venue_id %></td>
          <td class="col-sm-3"><%= venue_layout.name %></td>
          <td class="col-sm-3"><%= venue_layout.capacity %></td>
          <td class="col-sm-1"><%= link_to 'Show', venue_layout %></td>
          <td class="col-sm-1"><%= link_to 'Edit', edit_venue_layout_path(venue_layout) %></td>
          <td class="col-sm-1"><%= link_to 'Destroy', venue_layout, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
<%= link_to 'New Venue layout', new_venue_layout_path %>
