<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@price_category) do |f| %>
        <% if @price_category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@price_category.errors.count, "error") %> prohibited this price_category from being
                saved:</h2>

              <ul>
                <% @price_category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :event_id %>
        <%= f.select :event_id, options_from_collection_for_select(@events, 'id', 'name'), class: 'form-control' %>

        <%= f.label :venue_id %>
        <%= f.select :venue_id, options_from_collection_for_select(@venues, 'id', 'name'), class: 'form-control' %>

        <%= f.label :section_id %>
        <%= f.select :section_id, options_from_collection_for_select(@sections, 'id', 'name'), class: 'form-control' %>

        <%= f.label :category_id %>
        <%= f.select :category_id, options_from_collection_for_select(@ticket_categories, 'id', 'name'), class: 'form-control' %>

        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control', step: 'any' %>


        <%= f.submit "Create Price Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>