<h3 class="center">Listing Price Categories</h3>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="bg-info">
    <tr>
      <th class="col-sm-3">Event</th>
      <th class="col-sm-3">Venue Layout</th>
      <th class="col-sm-3">Section</th>
      <th class="col-sm-3">Category</th>
      <th class="col-sm-3">Price</th>
      <% if administrator? %>
          <th class="col-sm-3" colspan="3"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @price_categories.each do |price_category| %>
        <tr>
          <td class="col-sm-3"><%= price_category.event.name %></td>
          <td class="col-sm-3"><%= price_category.venue_layout.name %></td>
          <td class="col-sm-3"><%= price_category.section.name %></td>
          <td class="col-sm-3"><%= price_category.ticket_category.name %></td>
          <td class="col-sm-3"><%= price_category.price %></td>
          <% if administrator? %>
              <td class="col-sm-1"><%= link_to 'Show', price_category, class:'btn btn-primary' %></td>
              <td class="col-sm-1"><%= link_to 'Edit', edit_price_category_path(price_category), class:'btn btn-primary' %></td>
              <td class="col-sm-1"><%= link_to 'Delete', price_category, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-primary' %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
