<p id="notice"><%= notice %></p>

<h1>Listing Price Categories</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-sm-3">Event</th>
      <th class="col-sm-3">Venue</th>
      <th class="col-sm-3">Section</th>
      <th class="col-sm-3">Category</th>
      <th class="col-sm-3">Price</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @price_categories.each do |price_category| %>
        <tr>
          <td class="col-sm-3"><%= price_category.event_id %></td>
          <td class="col-sm-3"><%= price_category.venue_id %></td>
          <td class="col-sm-3"><%= price_category.section_id %></td>
          <td class="col-sm-3"><%= price_category.category_id %></td>
          <td class="col-sm-3"><%= price_category.price %></td>
          <td class="col-sm-1"><%= link_to 'Show', price_category %></td>
          <td class="col-sm-1"><%= link_to 'Edit', edit_price_category_path(price_category) %></td>
          <td class="col-sm-1"><%= link_to 'Destroy', price_category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
<%= link_to 'New Price category', new_price_category_path %>
