<p id="notice"><%= notice %></p>

<h1>Listing Ticket Categories</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Description</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @ticket_categories.each do |ticket_category| %>
        <tr>
          <td class="col-sm-3"><%= ticket_category.name %></td>
          <td class="col-sm-3"><%= ticket_category.description %></td>
          <td class="col-sm-1"><%= link_to 'Show', ticket_category %></td>
          <td class="col-sm-1"><%= link_to 'Edit', edit_ticket_category_path(ticket_category) %></td>
          <td class="col-sm-1"><%= link_to 'Destroy', ticket_category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>
<%= link_to 'New Ticket category', new_ticket_category_path %>
