<div class="list-group">
  <a href="#" class="list-group-item active">Name: <%= @section.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Description: <%= @section.description %></a>
  <a href="#" class="list-group-item list-group-item-info">Capacity: <%= @section.capacity %></a>
  <a href="#" class="list-group-item list-group-item-info">Layout: <%= @section.venue_layout.name %></a>
</div>

<%= link_to 'Edit', edit_section_path(@section),class:'btn btn-primary' %>
<%= link_to 'Back', sections_path,class:'btn btn-primary' %>
