<div class="container">
    <%= simple_form_for(@event, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Event</h2>

        <%= f.text_field :name, class: 'form-control',placeholder: 'Name', :required => true, :autofocus => true %>

        <%= f.text_area :description, class: 'form-control',placeholder: 'Description' %>

        <%= f.select( :event_category_id, options_from_collection_for_select(@event_categories, 'id', 'name', :selected => f.object.event_category_id), placeholder: 'Event Category', class: 'form-control', :required => true) %>

        <%= f.text_field :start_date, placeholder:'Start Date', class: "datetimepicker_to form-control", :required => true %>
        <%= f.text_field :end_date, placeholder:'End Date', class: "datetimepicker_to form-control",:required => true %>


      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>
      <%= link_to "Back", events_path %>
    <% end %>
  </div>
</div>