<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Description</th>
      <th class="col-sm-3">Start Date</th>
      <th class="col-sm-3">End Date</th>
      <th class="col-sm-3">Category</th>
      <th class="col-sm-3">Major</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @events.each do |event| %>
        <tr>
          <td class="col-sm-3"><%= event.name %></td>
          <td class="col-sm-3"><%= event.description %></td>
          <td class="col-sm-3"><%= event.start_date %></td>
          <td class="col-sm-3"><%= event.end_date %></td>
          <td class="col-sm-3"><%= event.category_id %></td>
          <td class="col-sm-3"><%= event.major %></td>
          <td class="col-sm-1"><%= link_to 'Show', event %></td>
          <td class="col-sm-1"><%= link_to 'Edit', edit_event_path(event) %></td>
          <td class="col-sm-1"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>


<br>
</div>
<%= link_to 'New Event', new_event_path %>
