<div class="list-group">
  <a href="#" class="list-group-item active">Name: <%= @event.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Description: <%= @event.description %></a>
  <a href="#" class="list-group-item list-group-item-info">Start date: <%= @event.start_date %></a>
  <a href="#" class="list-group-item list-group-item-info">End date: <%=  @event.end_date %></a>
  <a href="#" class="list-group-item list-group-item-info">Category: <%= @event.event_category.name %></a>
</div>

<%= link_to 'Edit', edit_event_path(@event), class:'btn btn-primary' %>
<%= link_to 'Back', events_path, class:'btn btn-primary' %>
