<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@venue) do |f| %>
        <% if @venue.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

              <ul>
                <% @venue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>