<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="bg-info">
    <tr>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Address</th>
      <th class="col-sm-3">Description</th>
      <% if administrator? %>
          <th class="col-sm-3" colspan="3"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @venues.each do |venue| %>
        <tr>
          <td class="col-sm-3"><%= venue.name %></td>
          <td class="col-sm-3"><%= venue.address %></td>
          <td class="col-sm-3"><%= venue.description %></td>
          <% if administrator? %>
              <td class="col-sm-1"><%= link_to 'Show', venue %></td>
              <td class="col-sm-1"><%= link_to 'Edit', edit_venue_path(venue) %></td>
              <td class="col-sm-1"><%= link_to 'Destroy', venue, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>