<div class="container">
  <%= form_for(@section_row, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Section Row</h2>

      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', :required => true, :autofocus => true %>

      <%= f.number_field :capacity, class: 'form-control', placeholder: 'Capacity', :required => true %>


      <%= f.select :section_id, options_from_collection_for_select(@sections, 'id', 'name', :selected => f.object.section_id), placeholder: 'Section', class: 'form-control' %>

      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>

      <%= link_to "Back", section_rows_path %>
  <% end %>

</div>
