<div class="container">
    <%= simple_form_for(@show, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Show</h2>

        <%= f.select :event_id, options_from_collection_for_select(@events, 'id', 'name', :selected => f.object.event_id),placeholder:'Event', class: 'form-control' %>

        <%= f.select :venue_id, options_from_collection_for_select(@venues, 'id', 'name', :selected => f.object.venue_id),placeholder:'Venue', class: 'form-control' %>

        <%= f.text_field :showtime, placeholder:'Show time', class: "datetimepicker_to form-control", :required => true %>

        <%= f.select :venue_layout_id, options_from_collection_for_select(@venue_layouts, 'id', 'name', :selected => f.object.venue_layout_id),placeholder: 'Venue Layout', class: 'form-control' %>



      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>

      <%= link_to "Back", shows_path %>
    <% end %>
  </div>
</div>
