<p id="notice"><%= notice %></p>

<h1>Listing Shows</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-sm-3">Event</th>
      <th class="col-sm-3">Venue</th>
      <th class="col-sm-3">Showtime</th>
      <th class="col-sm-3">Layout</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td class="col-sm-3"><%= show.event_id %></td>
        <td class="col-sm-3"><%= show.venue_id %></td>
        <td class="col-sm-3"><%= show.showtime %></td>
        <td class="col-sm-3"><%= show.layout_id %></td>
        <td class="col-sm-1"><%= link_to 'Show', show %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_show_path(show) %></td>
        <td class="col-sm-1"><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Show', new_show_path %>
