<div class="list-group">
  <a href="#" class="list-group-item active">Event: <%= @show.event.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Venue: <%= @show.venue.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Layout: <%= @show.venue_layout.name %></a>
  <a href="#" class="list-group-item list-group-item-info">Showtime: <%= @show.showtime %></a>
</div>

<%= link_to 'Edit', edit_show_path(@show),class:'btn btn-primary' %>
<%= link_to 'Back', shows_path,class:'btn btn-primary' %>
